html {
  font-size: 1rem;
}

body {
  background-color: #f8f8ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  position: relative;
  background-color: #f8f8ff;
}

@media (max-width: 600px) {
  html {
    font-size: 0.8rem;
  }
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//NavBar---------------------------------------
.hamburger-btn {
  display: none;
}

.search-bar {
  background-image: url("../public/assets/images/icons/search_light.png");
  background-position: 1rem;
  background-repeat: no-repeat;
  padding-left: 3.5rem;
}

.search-list > .search-item:last-child hr {
  display: none;
}

@media (max-width: 1000px) {
  .navbar-content {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .navbar-pages {
    display: none;
  }

  .hamburger-btn {
    display: block;
  }
}

@media (max-width: 470px) {
  .navbar-content {
    justify-content: space-between;
    width: 80%;
  }
  .search-bar {
    display: none;
  }
}
//----------------------------------------------------------

//Hero Header-----------------------------------------------
.hero-text {
  letter-spacing: -0.1rem;
}

@media (max-width: 900px) {
  .hero-header {
    justify-content: center;
  }

  .hero-image {
    display: none;
  }

  .hero-text {
    font-size: 30px;
    margin: 0 5rem;
    padding: 4.5rem;
  }
}

@media (min-width: 1100px) {
  .hero-text {
    font-size: 2.7rem;
  }
}
//----------------------------------------------------------

//Main Layout-----------------------------------------------
.main-layout > section {
  padding: 2rem 2rem;
}

@media (max-width: 600px) {
  .main-layout > section {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
//----------------------------------------------------------

//About Us Section------------------------------------------
@media (max-width: 900px) {
  .about-us {
    flex-direction: column;
    align-items: center;
  }

  .about-us-image {
    order: 2; 
    width: 70%;
    max-width: 400px;
    padding: 0;
  }

  .about-us-text {
    order: 1;
    width: auto;
  }

  .about-us-text .btn-box {
    display: flex;
    justify-content: flex-end;
  }


}
//----------------------------------------------------------

//Latest Offers Section-------------------------------------
@media (max-width: 500px) {
  .product-category {
    margin: 0 1rem;
  }
}

.product-box:hover .home-product-image {
  transform: scale(1.08);
  transition: transform 200ms ease;
}

.product-box .home-product-image {
  transform: scale(1);
  transition: transform 200ms ease;
}

.product-box:hover .home-product-name {
  opacity: 0%;
  transform: scaleY(0);
  transition: transform 200ms ease, opacity 200ms;
}

.product-box .home-product-name {
  opacity: 100%;
  transform: scaleY(1);
  transition: transform 200ms ease, opacity 200ms;
}

.product-box .product-buy-btn {
  transform: scale(0);
  transition: transform 200ms ease;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 4rem;
  height: 2rem;
}

.product-box:hover .product-buy-btn {
  transform: scale(1.1);
  transition: transform 200ms ease;
}
//----------------------------------------------------------

//Footer Section--------------------------------------------
@media (max-width: 850px) {
  .footer-layout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-section {
    width: 100%;
    margin: 3rem 0;
  }
}
//----------------------------------------------------------

//Product Section-------------------------------------------

.hero .slick-slider {
  overflow: hidden !important;
  position: relative !important;
}

.hero .slick-dots {
  top: 90%;
}

@media (max-width: 830px) {
  .hero .slick-dots {
    display: none !important;
  }
}

.hero .slick-dots li button:before {
  color: #00c9a7 !important;
}

.hero .slick-next {
  overflow: hidden;
}



.product-list .slick-arrow {
  transform: scale(2) !important;
  border-radius: 50% !important;
  background-size: cover !important;
}

.product-list .slick-arrow:hover,
.slick-prev:hover,
.slick-next:hover {
  background-color: rgba(2, 9, 15, 0.068);
}

.product-list .slick-prev {
  background-image: url("../public/assets/images/icons/arrow_left.png") !important;
  background-position: -1px 0 !important;
}

.product-list .slick-next {
  background-image: url("../public/assets/images/icons/arrow_right.png") !important;
  background-position: 1px 0 !important;
}

.product-list .slick-arrow::before {
  content: "" !important;
}

//----------------------------------------------------------

//Support Section-------------------------------------------
.support-hero {
  background-image: linear-gradient(
      262.31deg,
      rgba(188, 190, 253, 0.38) 0%,
      rgba(20, 23, 72, 0.55) 100%
    ),
    url("../public/assets/images/products/support_hero_image.png");

  background-repeat: no-repeat;
  background-size: cover;
}

.text-shadow {
  text-shadow: 1px 4px 2px rgba(0, 0, 0, 0.25);
}

.selected-shadow {
  -webkit-box-shadow: 0px 0px 26px 6px rgba(188, 190, 253, 0.65);
  box-shadow: 0px 0px 26px 6px rgba(188, 190, 253, 0.65);
}

.support-product {
  transform: scale(1);
  transition: transform 200ms ease;
}

.support-product:hover {
  transform: scale(1.02);
  transition: transform 200ms ease;
}

@media (max-width: 760px) {
  .support-choosing {
    padding: 5rem 0.2rem;
  }
}

@media (max-width: 600px) {
  .support-header {
    height: 300px;
  }
}

//----------------------------------------------------------

.x-btn:hover {
  color: white;
}

//Form------------------------------------------------------

.field {
  display: flex;
  flex-direction: column;
}

.form-input {
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-radius: 10px;
  border-color: rgba(195, 180, 250, 0.39);
  height: 2.7rem;
  padding: 0 1rem;
  margin-top: 0.4rem;
}

.form-input:focus {
  outline: solid;
  outline-width: 1px;
  outline-color: rgba(157, 146, 255, 0.555);
}

.form-input .select {
  outline: solid;
  outline-width: 1px;
  outline-color: rgba(157, 146, 255, 0.555);
}

.form-select {
  position: relative;
  height: 2.7rem;
  margin-top: 0.4rem;
}

.form-select select, .form-select .select-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-radius: 10px;
  border-color: rgba(195, 180, 250, 0.39);
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  display: block;
}

.form-select:after {
  content: ">";
  font: 1rem "Consolas", monospace;
  font-weight: bold;
  color: rgb(70, 54, 128);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 0.5rem;
  top: 50%;
  bottom: 50%;
  padding: 0 0 2px;
  position: absolute;
}

.required:after {
  content: "*";
}

form .field {
  margin-bottom: 2rem;
}

//----------------------------------------------------------

//Product Buy Page------------------------------------------
.two-fields {
  display: flex;
  width: 100%;
}

.small-field {
  width: 50%;
}

.product-area-field {
  width: 25%;
}

.product-tel-field {
  width: 75%;
}

.submit-btn-field {
  display: flex;
  margin-top: 3rem;
}

@media (max-width: 1150px) {
  .product-buy-page, .support-ticket-page {
    flex-direction: column;
    align-items: center;
  }

  .product-spec {
    width: 90%;
    min-width: 300px;
    max-width: 650px;
    margin-bottom: 3rem;
  }

  .product-order-form, .support-ticket {
    width: 90%;
    min-width: 300px;
    max-width: 650px;
    margin-bottom: 3rem;
  }

  .submit-btn-field {
    justify-content: center;
  }

  .submit-btn {
    border-radius: 12px;
    width: 100%;
  }
}

@media (max-width: 510px) {
  .two-fields {
    display: block;
    width: 100%;
  }

  .small-field {
    width: 100%;
    margin: 0;
  }

  .product-area-field {
    width: 25%;
  }

  .product-tel-field {
    width: 75%;
  }
}

@media (max-width: 490px) {
  .product-area-field {
    width: 30%;
  }

  .product-tel-field {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .product-area-field {
    width: 35%;
  }

  .product-tel-field {
    width: 65%;
  }
}

@media (max-width: 360px) {
  .product-area-field {
    width: 40%;
  }

  .product-tel-field {
    width: 60%;
  }
}
//--------------------------------------------------------