html {
  font-size: 16px;
}

body {
  background-color: #f8f8ff;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.Layout {
  position: relative;
  width: 100%;
  max-width: 1366px;
}

.hamburger-btn {
  display: none;
}

.search-bar {
  background-image: url("../public/assets/images/icons/search_light.png");
  background-position: 1rem;
  background-repeat: no-repeat;
  padding-left: 3.5rem;
}

@media (max-width: 1000px) {
  .navbar-content {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .navbar-pages {
    display: none;
  }
  .hamburger-btn {
    display: block;
  }
}

@media (max-width: 470px) {
  .navbar-content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 80%;
  }
  .search-bar {
    display: none;
  }
}

.hero-text {
  letter-spacing: -0.1rem;
}

@media (max-width: 900px) {
  .hero-header {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .hero-image {
    display: none;
  }
  
  .hero-text {
    font-size: 30px;
    margin: 0 5rem;
    padding: 4.5rem;
  }
}

@media (min-width: 1100px) {
  .hero-text {
    font-size: 2.7rem;
  }
}

.main-layout > section {
  padding: 2rem 0;
}

@media (max-width: 600px) {
  .main-layout > section {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (max-width: 900px) {
  .about-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about-us-image {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 80%;
    padding: 0;
  }
  .about-us-text {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: auto;
  }
}

@media (max-width: 500px) {
  .product-category {
    margin: 0 1rem;
  }
}

.product-box:hover .home-product-image {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.product-box .home-product-image {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.product-box:hover .home-product-name {
  opacity: 0%;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: opacity 200ms, -webkit-transform 200ms ease;
  transition: opacity 200ms, -webkit-transform 200ms ease;
  transition: transform 200ms ease, opacity 200ms;
  transition: transform 200ms ease, opacity 200ms, -webkit-transform 200ms ease;
}

.product-box .home-product-name {
  opacity: 100%;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: opacity 200ms, -webkit-transform 200ms ease;
  transition: opacity 200ms, -webkit-transform 200ms ease;
  transition: transform 200ms ease, opacity 200ms;
  transition: transform 200ms ease, opacity 200ms, -webkit-transform 200ms ease;
}

.product-box .product-buy-btn {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.product-box:hover .product-buy-btn {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

@media (max-width: 850px) {
  .footer-layout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-section {
    width: 100%;
    margin: 3rem 0;
  }
}

.product-hero {
  background-image: url("../public/assets/images/products/product_hero_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.support-hero {
  background-image: linear-gradient(
      262.31deg,
      rgba(188, 190, 253, 0.38) 0%,
      rgba(20, 23, 72, 0.55) 100%
    ),
    url("../public/assets/images/products/support_hero_image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.text-shadow {
  text-shadow: 1px 4px 2px rgba(0, 0, 0, 0.25);
}

.selected-shadow {
  -webkit-box-shadow: 0px 0px 26px 6px rgba(188, 190, 253, 0.65);
  box-shadow: 0px 0px 26px 6px rgba(188, 190, 253, 0.65);
}

.support-product:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

@media (max-width: 550px) {
  .support-header {
    height: 300px;
  }
  .support-choosing {
    padding: 5rem 1rem;
  }
  .support-product {
    width: 100%;
  }
  .support-product-caption {
    font-size: 4.2vw;
  }
}
/*# sourceMappingURL=App.css.map */
